.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 15px;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.horizontal-card {
  flex: 0 0 auto;
  width: 330px;
  scroll-snap-align: start;
}
